body, html {
  background: #282c3b;
  color: #fff;
}


ul.social-links li {
  display: inline;
  margin-left: 10px;
}

ul.social-links {
  list-style: none;
}

.content-area .img {
  height: 200px;
  overflow: hidden;
}

.content-area .portfolio-title {
  overflow: hidden;
  height: 96px;
  font-size: 20px;
  font-weight: 300;
  padding-left: 0px!important;
  padding-right: 0px!important;
  color: #000!important;
  font-family: cursive;
}

.portfolio-category-title {
  cursor: pointer;
  font-size: 20px;
  display: block;
  background: #fff0;
}

.portfolio-category-title.active {
  border-top: 1px solid #8bc34a;
  color: #8bc34a!important;
}